header {
    background-image: url("photo.png");
    width: 	1600px;
    height: 770px;
display:flex;
flex-direction: column;}
    .head {
        display: flex;
        width: 1141px;
        height: 23px;
        margin-top: 40px;
        margin-left:229px ;
        margin-right:230px ;}
    .Welcome{margin-top: 260px;
  margin-left: 568px;
  width: 581px;
  height: 87px;
    }
.bottom{ text-align: center;
     width: 181px;
    height: 54px;
    margin-top: 49px;
    margin-left: 650px;
    border: 3px solid rgb(153, 146, 146);
    text-decoration: none;
color: aliceblue;}

.head_buttom{
  display: flex;
margin-left: 787px;
color: rgb(255, 255, 255);}
.startup {
    color: rgb(255, 255, 255);
}
.top_buttom{
    text-decoration:none ;
    margin-right:10px ;
color: white;}
.main{ display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width:1600px;
    height: 470px}
h5 {
    width: 1635px;
     height: 786px;
     text-align: center;   
}
h3{text-align: center;  }
hr {width: 100px;}
.CRE { display: flex;
justify-content: center;}

.CRE1{
width:345px ;
display: flex;
flex-direction: column;
align-items: center;

}
.CRE2{width:345px ;
    display: flex;
    flex-direction: column;
    align-items: center;}
.CRE3{width:345px ;
    display: flex;
    flex-direction: column;
    align-items: center;}